{% extends "layout.html" %}

{% block page_body %}



{% block body %}

<div id="page-wrapper">
	<div class="container-fluid">
		<div class="row" >
			<div class="col-lg-10">
				<form action="{{ url_for(config.CFG_WEBNEWS_ADMIN_EDIT[1:]) }}" method=post>
					<div class="form-group input-group">
						<input type="text" class="form-control" name='keywords' required/>
						<span class="input-group-btn">
						<button name="action_search" type="submit" class="btn btn-primary btn-inline-icon-hide-sm">
							<i class="glyphicon glyphicon-search"></i><span>Search</span>
						</button>
						</span>
					</div>
				</form>
				<h2>Latest News Stories</h2>
				<div class="table-responsive">
					<table class="table table-bordered table-hover table-striped">
						<thead>
							<tr>
								<th>Story Title</th>
								<th>Body</th>
								<th>Creation Date</th>
								<th>Edit</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							{% for result in searchResult %}
							<tr class="active">
								<td rel="tooltip" title data-placement="bottom" onmouseover="theFunc(this,'#div{{ result.id }}')">{{ result.title }}</td>
								<td rel="tooltip" title data-placement="bottom" onmouseover="theFunc(this,'#div{{ result.id }}')">{{ result.body }}</td>
								<td rel="tooltip" title data-placement="bottom" onmouseover="theFunc(this,'#div{{ result.id }}')">{{ result.created }}</td>
								<td><a href="{{ url_for(config.CFG_WEBNEWS_ADMIN_UPDATE[1:]) }}/?id={{result.id}}" data-toggle="confirmation" data-placement="right" data-original-title="" title="" ><span class="glyphicon glyphicon-edit"></span></a></td>
								<td><a href="{{ url_for(config.CFG_WEBNEWS_ADMIN_DELETE[1:]) }}/?id={{result.id}}" ><span class="glyphicon glyphicon-trash"></span></a></td>
								<div style="display:none;">
									<div  id='div{{ result.id }}'>
										<div id="demo2_tipa">
											<b>Info for: {{ result.title }}</b><br /><br />
											<b>Target Page: {{ result.nwsToolTip[0].target_page }} </b><br /><br />
											<b>Target Element: {{ result.nwsToolTip[0].target_element }} </b><br /><br />
											<b>Tag: {{ result.nwsTAG[0].tag }} </b><br /><br />
											<p> {{ result.nwsToolTip[0].body }}</p>
										</div>
									</div>
								</div>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
{% endblock %}

{% block title %}{% endblock %}
