 {%- extends "page.html" -%}

{% block header %}{{ super() }}
    {% block head_meta %}{% endblock -%}
    {% block head_tail %}{% endblock -%}
{% endblock header -%}
{% block pagefooteradd -%}
    {{ super() }}
{% endblock pagefooteradd -%}
{%- block _bottom_assets %}
    {{ super() }}
    {% block tail %}{% endblock -%}
{%- endblock _bottom_assets %}
 {% block global_bundles %}
  {{ super() }}
  {% bundles "webnews.js","webnews.css" %}
{% endblock %}
{% block javascript %}
    <script type="text/javascript">

        $(function(){
           $('.Hikmat').tooltipster({
				animation: 'fade',
				delay: 200,
                content: $('#divCont'),
				interactive:true
            });
        })

    </script>
{% endblock javascript %}
