{%- extends "page.html" -%}

{% block header %}{{ super() }}
    {% block head_meta %}{% endblock -%}
    {% block head_tail %}{% endblock -%}
{% endblock header -%}
{% block pagefooteradd -%}
    {{ super() }}
{% endblock pagefooteradd -%}
{%- block _bottom_assets %}
    {{ super() }}
    {% block tail %}{% endblock -%}
{%- endblock _bottom_assets %}
{% block page_body %}{% block body %}
<div id="search-box-main" class="row">
	 <div class="col-sm-12">
    <div class="navbar navbar-default">
      <div class="navbar-header">
  <span class="navbar-brand hidden-sm hidden-xs" id="search-label">Search WebNews</span>
</div><div class="navbar-collapse">
<div class="input-group" id="searchform-input-group">    
	
	
	
	
	  
<form action="{{ url_for('do_search') }}" method=post>
	<div class="nav navbar-nav navbar-left navbar-form">
    <div class="input-group" id="searchform-input-group">
	
        <input type=text name=keywords  class="form-control" autocomplete="off" data-items="4" required>
		
       
        <button name="action_search" type="submit" class="btn btn-primary btn-inline-icon-hide-sm">
    <i class="glyphicon glyphicon-search"></i><span>&nbsp;Search</span>
  </button>
    
    </div></div>
    
    </form>
</div>
</div>
  </div>
</div>
  
{% endblock %}
{% endblock %}

{% block title %}{% endblock %}
